<nav class="menu">
    <div class="menu-marca">Coro de los Capuchinos</div>
    <ul>
        <li><a href="/canciones">Canciones</a></li>
        <li><a href="/procedimiento">Armar Misa</a></li>
        <li><a href="/cerrar-sesion" class="cerrar">Cerrar sesión</a></li>
    </ul>
</nav>
